<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <display-name></display-name>
  <servlet>
    <servlet-name>mainLoginAction</servlet-name>
    <servlet-class>main.process.action.ProcessAction</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>mainLoginAction</servlet-name>
    <url-pattern>/main/LoginAction</url-pattern>
  </servlet-mapping>  
  
  
  
  
  
  
  
  
  <!-- for demo only -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>demo.com.login.action.LoginAction</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/servlet/LoginAction</url-pattern>
  </servlet-mapping>  
  
  <!-- 配置 过滤器 -->
  <!-- for demo only -->
  <filter>
  	<filter-name>MyFilter</filter-name>
  	<filter-class>demo.com.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MyFilter</filter-name>
  	<!-- /*表示过滤所有页面 ，/main.jsp 表示只过滤main.jsp页面-->
  	<url-pattern> /index.jsp</url-pattern>   
  </filter-mapping>
   <filter-mapping>
  	<filter-name>MyFilter</filter-name>
  	<!-- /*表示过滤所有页面 /addProduct.jsp 表示只过滤addProduct.jsp页面-->
  	<url-pattern>/addProduct.jsp</url-pattern>   
  </filter-mapping>
 
 
 
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>

