<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	
	<appender name="cpclog" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="D:/log/cpc.log"/>
		<param name="append" value="true"/>
		<param name="MaxFileSize" value="10485760"/>
		<param name="MaxBackupIndex" value="100"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p - %m%n"/>
		</layout>
	</appender>
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p - %m%n"/>
		</layout>
	</appender>
	
	<root>
		<!-- level : fatal>error>warn>info>debug -->
		<level value="DEBUG"/>
		<appender-ref ref="stdout"/>
		<appender-ref ref="cpclog"/>
	</root>
		
</log4j:configuration>